" set leader key
noremap <Space> <nop>
let mapleader = " "

" Common Options
set scrolloff=5
set ignorecase
set smartcase
set incsearch
set visualbell
set clipboard=unnamedplus
filetype plugin indent on

" Quick Move
noremap <S-h> 5h
noremap <S-j> 5j
noremap <S-k> 5k
noremap <S-l> 5l
noremap <S-w> 5w
noremap <S-b> 5b
function! LineHeadTail()
    if col(".")==col("$")
        normal ^
    else
        normal $
    endif
endfunction
nnoremap m :call LineHeadTail()<CR>

" Better Window navigation
nnoremap <LEADER>h <C-w>h
nnoremap <LEADER>j <C-w>j
nnoremap <LEADER>k <C-w>k
nnoremap <LEADER>l <C-w>l

" Better Window Split
nnoremap <LEADER>v :action SplitVertically<CR>
nnoremap <LEADER>s :action SplitHorizontally<CR>

" Better Tab Management
nnoremap th :action PreviousTab<CR>
nnoremap tl :action NextTab<CR>

" Quick Quit
nnoremap <S-q> :q<CR>
" close default <S-s>
nnoremap <S-s> <nop>

" Quick Indent
nnoremap < <<
nnoremap > >>
vnoremap < <gv
vnoremap > >gv

" Find and replace
nnoremap \s :%s//g<Left><Left>

" Better LSP
nnoremap gh :action QuickJavaDoc<CR>
nnoremap gl :action ShowErrorDescription<CR>
nnoremap gn :action RenameElement<CR>
nnoremap gx :action ShowIntentionActions<CR>
nnoremap g[ :action GotoPreviousError<CR>
nnoremap g] :action GotoNextError<CR>

" Better comment
noremap <LEADER>c<LEADER> :action CommentByLineComment<CR>
noremap <LEADER>cb :action CommentByBlockComment<CR>
nnoremap <LEADER>co o<ESC>:action CommentByLineComment<CR>A<Space>
nnoremap <LEADER>cO O<ESC>:action CommentByLineComment<CR>A<Space>
nnoremap <LEADER>ca A<Space>//<Space>

" Better Yank and Paste
nnoremap <LEADER>y :action PasteMultiple<CR>
xnoremap p "_dP
xnoremap P "_dp

" Translate
xnoremap <LEADER>t :action $EditorTranslateAction<CR>
