" Set leader key
noremap <Space> <nop>
let mapleader = " "

" Common Options
set scrolloff=5
set ignorecase
set smartcase
set incsearch
set visualbell
set clipboard=unnamedplus
filetype plugin indent on

" Quick Move
noremap <S-h> 5h
noremap <S-j> 5j
noremap <S-k> 5k
noremap <S-l> 5l
noremap <S-w> 5w
noremap <S-b> 5b
function! LineHeadTail()
    if col(".")==col("$")
        normal ^
    else
        normal $
    endif
endfunction
nnoremap m :call LineHeadTail()<CR>

" Better Window navigation
nnoremap <LEADER>h <C-w>h
nnoremap <LEADER>j <C-w>j
nnoremap <LEADER>k <C-w>k
nnoremap <LEADER>l <C-w>l

" Better Window Split
nmap <LEADER>v <Action>(SplitVertically)
nmap <LEADER>s <Action>(SplitHorizontally)

" Better Tab Management
nmap th <Action>(PreviousTab)
nmap tl <Action>(NextTab)

" Quick Quit
nnoremap <S-q> :q<CR>
" close default <S-s>
nnoremap <S-s> <nop>

" Quick Indent
nnoremap < <<
nnoremap > >>
vnoremap < <gv
vnoremap > >gv

" Find and replace
nnoremap \s :%s//g<Left><Left>

" Plugins
set surround
set argtextobj

" Better LSP
nmap gh <Action>(QuickJavaDoc)
nmap gi <Action>(GotoImplementation)
nmap gl <Action>(ShowErrorDescription)
nmap gn <Action>(RenameElement)
nmap gx <Action>(ShowIntentionActions)
nmap g[ <Action>(GotoPreviousError)
nmap g] <Action>(GotoNextError)

" Better Method Jump
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

" Telescope-like Navigation
nmap <LEADER>ff <Action>(GotoFile)
nmap <LEADER>fh <Action>(RecentFiles)
nmap <LEADER>fw <Action>(FindInPath)
nmap <LEADER>b <Action>(Switcher)

" Format
nmap \r <Action>(ShowReformatFileDialog)

" Better comment
map <LEADER>c<LEADER> <Action>(CommentByLineComment)
map <LEADER>cb <Action>(CommentByBlockComment)
nmap <LEADER>co o<ESC><Action>(CommentByLineComment)A<Space>
nmap <LEADER>cO O<ESC><Action>(CommentByLineComment)A<Space>
nmap <LEADER>ca A<Space>//<Space>

" Better Yank and Paste
nmap <LEADER>y <Action>(PasteMultiple)
xnoremap p "_dP
xnoremap P "_dp

" Translate
xmap <LEADER>t <Action>($EditorTranslateAction)

